@use "../sass/variables" as *;

@mixin input-bar {
  width: 25vw;
  height: 5vh;
  border: 2px solid $grey;
  border-radius: $global-radius;
}

@mixin blue-generic-button {
  width: 25vw;
  height: 5vh;
  background: $blue;
  border-radius: $global-radius;
  color: #fff;
  border: 0;
  cursor: pointer;
  font-size: 1em;
  font-weight: 700;
}

@mixin purchase-cart-button {
  width: 28vw;
  height: 6vh;
  background: $button-grey;
  border-radius: $global-radius;
}

@mixin card-product {
  width: 15vw;
  height: auto;
  border: 1px solid #b7b7b7;
}

@mixin card-product-button {
  width: 8vw;
  height: 5vh;
  background: $blue;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@mixin search-bar {
  height: 5vh;
  width: 50vw;
  background: #fff;
  border: 1px solid #b7b7b7;
  border-radius: $global-radius;
}
