@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.headerdetail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $black;

    &__top{
        display: flex;
        justify-content: center;
        gap: 3vw;
        align-items: center;
        margin-top: 2em;

        &-logo{
            width: 8vw;
        }

        &-cart{
            cursor: pointer;
            transition: transform .3s;
        }

        &-cart:hover{
            transform: scale(1.2);
        }
    }

    &__bottom{
    
        ul{
            display: flex;
            justify-content: center;
            gap: 5em;
            padding: 1.5vw 0.5em;
            font-size: 1.1vw;
            color: #fff;
            font-weight: 500;

            li{
                cursor: pointer;
            }

            li:hover{
                text-decoration: underline;
                color: $blue;
                transition: 1s ease-in;
            }
        }

        li:first-child{
            font-weight: 900;
        }
    }
}