@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.modal-payment {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: #fff;
    width: 70%;
    height: 70%;
    border-radius: 2em;
  }

  .close {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    right: calc(-100% + 64px);
    cursor: pointer;
    top: 16px;
    display: flex;
    position: relative;
    align-items: center;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      width: 2.5px;
      height: 24px;
      background-color: #000;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

  /* Estilizando Card e Sessão*/

  .container__payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;

    h1{
      color: $blue;
      margin-bottom: 1em;
    }

    &-form{
      display: flex;
      flex-direction: column;

      label{
        padding-bottom: 0.3vw;
      }

      input{
        @include input-bar;
        width: 350px;
        height: 50px;
        text-indent: 0.5em;
        margin-bottom: 1em;
      }

      input::placeholder{
        font-size: 1em;
      }
    }
    
    &-button {
      @include blue-generic-button;
      font-size: 1.2rem;
      align-self: center;
      width: 350px;
      height: 50px;
      margin-top: 1em;
      a {
        color: #fff;
      }
    }
  }

  @media (max-width: 800px){
  .modal-payment {
    height: 120vh;
    
  .container {
    width: 80%;
    height: 75%;
  }
}

  /* Estilizando Card e Sessão*/

  .container__payment {
    height: 100%;
    justify-content: space-evenly;

    h1{
      margin: 0;
    }

    &-form{
      label{
        padding-bottom: 0.5em;
      }

      input{
        width: 60vw;
      }
    }
    
    &-button {
      width: 60vw;
      margin: 0;
    }
  }
  }

  @media (max-width: 450px){
    .modal-payment {
      height: 118vh;
      
    .container {
      width: 90%;
      height: 75%;
    }
  }
  
    /* Estilizando Card e Sessão*/
  
    .container__payment {
      height: 100%;
      justify-content: space-evenly;
  
      h1{
        margin: 0;
      }
  
      &-form{
        label{
          padding-bottom: 0.5em;
        }
  
        input{
          width: 70vw;
          font-size: 0.8rem;
        }
      }
      
      &-button {
        width: 70vw;
        margin: 0;
      }
    }
    }