@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: #fff;
    width: 65%;
    height: 70%;
    border-radius: 2em;
  }

  .close {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    right: calc(-100% + 64px);
    cursor: pointer;
    top: 16px;
    display: flex;
    position: relative;
    align-items: center;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      width: 2.5px;
      height: 24px;
      background-color: #000;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

  /* Estilizando Card e Sessão*/

  .container__payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3vw;

    h1{
      color: $blue;
      margin-bottom: 2vw;
    }

    &-form{
      display: flex;
      flex-direction: column;

      label{
        padding-bottom: 0.3vw;
      }

      input{
        @include input-bar;
        text-indent: 0.5vw;
        margin-bottom: 1vw;
      }

      input::placeholder{
        font-size: 0.7vw;
      }
    }
    
    &-button {
      @include blue-generic-button;
      align-self: center;
      margin-top: 2vw;
      a {
        color: #fff;
      }
    }
  }
