@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.product-card{
    @include card-product;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    background-color: #fff;

    &__img{
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
        height: 270px;
        width: 280px;
    }

    &__title{
        font-size: 0.8vw;
        text-align: center;
        height: 2vh;
    }

    &__button{
        @include card-product-button;
        margin-bottom: 1em;

        a{
            color: #fff;
        }
    }

}

@media (max-width: 1200px) {
    .product-card{
        width: 22vw;

        &__title{
            font-size: 1.2vw;
            text-align: center;
            height: 2vh;
        }

        &__button{
            font-size: 1.3vw;
        }
    
    }
}

@media (max-width: 900px) {
    .product-card{
        width: 25vw;

        &__title{
            font-size: 1.4vw;
            text-align: center;
            height: 2vh;
        }

        &__button{
            font-size: 1.5vw;
            width: 12vw;
        }
    
    }
}

@media (max-width: 700px) {
    .product-card{
        width: 32vw;

        &__title{
            font-size: 1.6vw;
            text-align: center;
            height: 2vh;
        }

        &__button{
            font-size: 1.7vw;
            width: 10vw;
        }
    
    }
}

@media (max-width: 500px) {
    .product-card{
        width: 35vw;

        &__title{
            font-size: 1.8vw;
            text-align: center;
            height: 2vh;
        }

        &__button{
            font-size: 2vw;
            width: 10vw;
        }
    
    }
}

