@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.product-card{
    @include card-product;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
    background-color: #fff;

    &__img{
        border-top-left-radius: $global-radius;
        border-top-right-radius: $global-radius;
        height: 70%;
        width: 80%;
    }

    &__title{
        font-size: 0.8vw;
        text-align: center;
    }

    &__button{
        @include card-product-button;
        margin-bottom: 1em;

        a{
            color: #fff;
        }
    }

}

@media (max-width: 1200px) {
    .product-card{
        width: 24vw;

        &__title{
            font-size: 1.4vw;
            height: 2vh;
        }

        &__button{
            font-size: 1.3vw;
        }
    
    }
}

@media (max-width: 900px) {
    .product-card{
        width: 32vw;

        &__title{
            font-size: 1.6vw;
            text-align: center;
            height: 2vh;
        }

        &__button{
            font-size: 1.5vw;
            width: 12vw;
        }
    
    }
}

@media (max-width: 700px) {
    .product-card{
        width: 37vw;

        &__title{
            font-size: 2vw;
            height: 2.5vh;
        }

        &__button{
            font-size: 2.2vw;
            width: 16vw;
            height: 4vh;
        }
    
    }
}

@media (max-width: 450px) {
    .product-card{
        width: 60vw;

        &__title{
            font-size: 3.4vw;

            height: 3vh;
        }

        &__button{
            font-size: 3.7vw;
            width: 22vw;
        }
    
    }
}

@media (max-width: 400px) {
    .product-card{
        width: 63vw;

        &__title{
            font-size: 3.5vw;
            height: 3.2vh;
        }

        &__button{
            font-size: 4vw;
            width: 24vw;
        }
    
    }
}
