@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10em;
  gap: 5em;

  &__instructions {
    text-align: center;

    &-main {
      font-size: 2vw;
      padding-bottom: 1rem;
      font-weight: 500;
    }

    &-aux {
      font-size: 1.5vw;
      font-weight: 500;
    }
  }

  &__area {
    display: flex;
    flex-direction: column;
    
    &-field{
      position: relative;
      padding-bottom: 2em;
    }

    &-fieldInput {
      position: relative;


      label {
        position: absolute;
        top: 1.5rem;
        left: 1rem;
        transition: 0.3s;
        pointer-events: none;
      }

      input {
        @include input-bar;
        text-indent: 0.5vw;
      }
  
      input:focus + label, input:not(:placeholder-shown)
      + label {
        top: -1rem;
        background: #fff;
      }
  }


    &-button {
      @include blue-generic-button;
      align-self: center;

      a {
        color: #fff;
      }
    }
  }

  .verificador{
    display: none;
    height: 0;
    font-size: 1rem;
    color: red;
  }

  .verificadorGeral{
    display: none;
    height: 0;
    font-size: 1.2rem;
    margin-top: 1em;
    text-align: center;
    color: red;
  }
}

@media (max-width: 1200px) {

}
