@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    background-color: #fff;
    max-width: 90%;
    max-height: 100%;
    max-height: auto;
    padding: 4em;
    border-radius: 2em;


  .close {
    background-color: transparent;
    border: none;
    outline: none;
    width: 32px;
    height: 32px;
    right: calc(-100%);
    cursor: pointer;
    top: 0;
    display: flex;
    position: relative;
    align-items: center;

    &:before,
    &:after {
      content: " ";
      position: absolute;
      width: 2.5px;
      height: 24px;
      background-color: #000;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }
}

  /* Estilizando Card e Sessão*/

  .container__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 4em;

    &-left {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .product-card-info {
        text-align: center;
        border-radius: 8px;
        margin-bottom: 2em;
        max-width: 300px;

        img {
          max-width: 100%;
        }
      }
    }

    &-right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      gap: 2em;
      .container__info {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        text-align: left;

        &-title {
          font-size: 1.3em;
          padding-bottom: 0.3em;
          border-bottom: 3px solid $blue;
        }
      }

      h3 {
        font-size: 1.5rem;
        color: $blue;
      }

      h2 {
        font-size: 2em;
      }

      .right__detail-colorblock{
        span {
          padding: 1em;
        }
      }

      .container__product-buttons {
        display: flex;
        flex-direction: column;
        row-gap: 1em;
        width: 100%;

        .continuar {
          @include blue-generic-button;
          width: 100%;
          height: 50px;
          font-size: 1em;
          padding: 0 0.5em;
        }

        .finalizar {
          @include grey-generic-button;
          width: 100%;
          height: 50px;
          font-size: 1em;
          padding: 0 0.5em;
        }

        a {
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .modal {
    .container {
      padding: 2em;
    }

    /* Estilizando Card e Sessão*/

    .container__main {
      flex-direction: column;
      justify-content: flex-start;
      height: 100%;
      gap: 1em;
      padding: 0 1em;
      &-left {
        flex-direction: column;

        .product-card-info {
          margin-bottom: 0.5em;
        }
      }

      &-right {
        height: auto;

        .container__info {
          display: flex;
          flex-direction: column;
          gap: 0.5em;
        }

        h2 {
          font-size: 1.5em;
        }

        .container__product-buttons {
          margin-top: 1em;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .modal {
    .container__main {
      justify-content: center;
      &-left {
        .product-card-info {
          max-width: 250px;
          
          img{
            max-height: 180px;
          }
        }
      }

      &-right {
        height: auto;
        gap: 0.5em;
        .container__info {
          display: flex;
          flex-direction: column;
          gap: 0.5em;

          &-title {
            font-size: 1rem;
          }

          .right__detail-color {
            font-size: 1rem;
          }

          .right__detail-colorblock{
            span {
              padding: 0.7em;
            }
          }
        }
        
        h2 {
          font-size: 1.3em;
        }

        .container__product-buttons {
          margin-top: 0.5em;

          .continuar {
            max-height: 35px;
            font-size: 0.9rem;
            padding: 0
          }

          .finalizar {
            max-height: 35px;
            font-size: 0.9rem;
            padding: 0;
          }
        }
      }
    }
  }
}

/*Modal de Pagamento*/

#payment{
  display: none;
}

.container__payment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3vw;

  h1 {
    color: $blue;
    margin-bottom: 1em;
  }

  &-form {
    display: flex;
    flex-direction: column;

    label {
      padding-bottom: 0.3vw;
    }

    input {
      @include input-bar;
      width: 350px;
      height: 50px;
      text-indent: 0.5em;
      margin-bottom: 1em;
    }

    input::placeholder {
      font-size: 1em;
    }
  }

  &-button {
    @include blue-generic-button;
    font-size: 1.2rem;
    align-self: center;
    width: 350px;
    height: 50px;
    margin-top: 1em;
    a {
      color: #fff;
    }
  }
}

@media (max-width: 450px) {
  /* Estilizando Card e Sessão*/

  .container__payment {
    height: 100%;
    justify-content: space-evenly;

    h1 {
      margin: 0;
    }

    &-form {
      label {
        padding-bottom: 0.5em;
      }

      input {
        width: 70vw;
        font-size: 0.8rem;
      }
    }

    &-button {
      width: 70vw;
      margin: 0;
    }
  }
}
