@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.searchbar{
    position: relative;

    &__icon{
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        width: 1.5vh;
    }

    input{
        @include search-bar;
        padding-left: 2em;
        font-size: 1em;
    }

    input::placeholder{
        font-size: 1rem;
        letter-spacing: 0.5px;
    }
}

@media (max-width: 1200px){
    .searchbar{
        input{
            width: 55vw;
            height: 4vh;
            padding-left: 2rem;
            font-size: 1.7vw;
        }

        input::placeholder{
            font-size: 0.9rem;
        }
  }
}

@media (max-width: 500px){
    .searchbar{
        input{
            width: 60vw;
            height: 3.5vh;
            font-size: 1rem;
        }

        input::placeholder{
            font-size: 0.8rem;
        }
  }
  
}
