@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

footer{
    background-color: $blue;
    display: flex;
    align-items: center;
    padding: 1.2vw 4vw;

    img{
        align-self: center;
        width: 10vw;
    }

    p{
        font-size: 1vw;
        color: #fff;
        padding-left: 3vw;
        padding-top: 1em;
        text-align: left;
        width: 80%;
    }

}

@media (max-width: 1200px){
    footer{
        img{
            width: 12vw;
        }
    
        p{
            font-size: 1.2vw;
        }
    
    }
}

@media (max-width: 900px){
    footer{
        img{
            width: 14vw;
        }
    
        p{
            font-size: 1.4vw;
        }
    
    }
}

@media (max-width: 700px){
    footer{
        p{
            font-size: 2vw;
            width: 100%;
        }
    
    }
}

@media (max-width: 450px){
    footer{
        p{
            font-size: 3vw;
            width: 100%;
        }
    
    }
}