@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.home {
  background-color: $black;

  &__product {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-evenly;
    padding: 5em 1em;
    grid-gap: 3vw;
  }
}

@media (max-width: 1300px) {
  .home {
    &__product {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media (max-width: 600px) {
  .home {
    &__product {
      padding: 2em 0;
      grid-template-columns: repeat(1, auto);
    }
  }
}
