@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.home {
    background-color: $black;

  &__product {
    padding: 5vh 0;
    display: grid;
    justify-content: center;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: none;
    gap: 5em;

  }
}

@media (max-width: 900px) {
  .home__product{
      grid-template-columns: 25vw 25vw;
  }
}