@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.carrosel {
  overflow: hidden;
  box-shadow: 0 0 15px 10px #0d70f18f;
  background-color: $grey;

  .container-banner {
    position: relative;
    animation: slide 15s infinite ease-out;
    display: flex;
    gap: 2px;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  95% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (min-width: 2000px){
  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    95% {
      transform: translateX(-90%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

@media (max-width: 900px){
  .carrosel {
  
    .container-banner {
      position: relative;
      animation: slide 10s infinite;
      display: flex;
      height: 20vh;
    }
  }

  @keyframes slide {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-500%);
    }
  }
}
